.lblAddImage {
  background-color: rgb(25, 94, 163);
  color: rgb(241, 241, 242);
  padding: 8px;
  border-radius: 0.6rem;
  cursor: pointer;
}

.newUserimagePage {
  margin-left: 1rem;
}

.uploadImageInput {
  display: none;
}

.imageListButton {
  margin: 1rem;
  width: 5rem;
  background-color: rgb(61, 63, 66);
  color: rgb(216, 219, 222);
  border-radius: 1rem;
  cursor: pointer;
  font-size: 0.85rem;
}

.txbName {
  margin: 0.8rem 0;
  font-size: 15px;
}

.imageContainer {
  display: flex;
}

.imageComponent {
  width: 100%;
  height: 100%;
}

.imageList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.imageListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageImageListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(123, 130, 140);
  min-height: 100vh;

  .imageListContainer {
    background-color: white;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;

    .imageName {
      justify-content: end;
      position: relative;
    }
  }
}
